﻿<div class="row">
    <br/>
    <button type="button" class="btn btn-labeled btn-default" ui-sref="Recipe" ng-click="setupCtrl.saveDonation()" title="Save donation" ng-disabled="createForm.$invalid && donateForm.$invalid && levelForm.$invalid">
        <span class="btn-label">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
        </span> Save
    </button>

    <div class="btn-group btn-breadcrumb col-md-offset-3">
        <a href="#" class="btn btn-warning btn-lg active" ui-sref="Setup">
            <i class="fa fa-sliders" aria-hidden="true"></i>
        </a>
        <a href="#" class="btn btn-warning btn-lg active" ui-sref="Setup">Setup</a>
        <a href="#" class="btn btn-default btn-lg disabled">Payment</a>
        <a href="#" class="btn btn-default btn-lg disabled">Review & Save</a>
    </div>
</div>
<br/>
<div class="row">
    <form name="createForm" ng-submit="createForm()" class="form-horizontal" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : createForm.name.$invalid && !createForm.name.$pristine }">
            <label class="col-sm-3">Name of Donation Campaign:</label>
            <input type="text" name="name" id="name" class="form-control" ng-model="setupCtrl.donation.donation_name" placeholder="Enter donation name" required>
            <p ng-show="createForm.name.$error.required && createForm.name.$touched" class="help-block col-sm-offset-3" ng-cloak>Name is required</p>
        </div>
        <div class="form-group datetimepicker" ng-class="{ 'has-error' : createForm.startDate.$invalid && !createForm.startDate.$pristine }">
            <label class="col-sm-3">From:</label>
            <p class="input-group">
                <span class="input-group-btn">
                    <input type="datetime" name="startDate" id="startDate" class="form-control" datetime-picker="yyyy-MM-dd HH:mm" ng-model="setupCtrl.donation.start_date" is-open="setupCtrl.calendarStartDate.isOpen" placeholder="Select start date" timepicker-options="setupCtrl.calendarStartDate.timepickerOptions" required/>
                    <button type="button" class="btn btn-default" ng-click="setupCtrl.calendarStartDate.openCalendarStart($event, prop)">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
                <p ng-show="createForm.startDate.$error.required && createForm.startDate.$touched" class="help-block col-sm-offset-3">Start date is required</p>
                <p ng-show="createForm.startDate.$error.datetime" class="help-block col-sm-offset-3">Not a valid date</p>
            </p>
        </div>
        <div class="form-group datetimepicker" ng-class="{ 'has-error' : createForm.endDate.$invalid && !createForm.endDate.$pristine }">
            <label class="col-sm-3">To:</label>
            <p class="input-group">
                <span class="input-group-btn">
                    <input type="datetime" name="endDate" id="endDate" class="form-control" datetime-picker="yyyy-MM-dd HH:mm" ng-model="setupCtrl.donation.end_date" is-open="setupCtrl.calendarEndDate.isOpen" placeholder="Select start date" timepicker-options="setupCtrl.calendarEndDate.timepickerOptions" required/>
                    <button type="button" class="btn btn-default" ng-click="setupCtrl.calendarEndDate.openCalendarEnd($event, prop)">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
                <p ng-show="createForm.endDate.$error.required && createForm.endDate.$touched" class="help-block col-sm-offset-3">End date is required</p>
                <p ng-show="createForm.endDate.$error.datetime" class="help-block col-sm-offset-3">Not a valid date</p>
            </p>
        </div>
    </form>
</div>
<!--<div class="checkbox">
    <label><input type="checkbox" ng-model="checked1 && checked2">Choose Donation Campaign Features</label>
</div>-->
<div class="panel panel-default">
    <div class="panel-heading">Donation level</div>
    <div class="panel-body">
        <form name="levelForm" ng-submit="levelForm()" class="form-inline" novalidate>
            <div style="padding-bottom: 20px">
                <div class="form-group">
                    <input type="checkbox" id="checkbox1" ng-model="checked1">
                </div>
                <div class="form-group" ng-class="{ 'has-error' : levelForm.amount1.$invalid && !levelForm.amount1.$pristine }">
                    <label class="col-sm-1">$:</label>
                    <input type="number" name="amount1" id="amount1" class="form-control" min="0" ng-model="setupCtrl.donation.amount" placeholder="Amount" ng-disabled="!checked1" required/>
                    <p ng-show="levelForm.amount1.$error.required && levelForm.amount1.$touched" class="help-block col-sm-offset-2" ng-cloak>Amount is required</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : levelForm.levelName1.$invalid && !levelForm.levelName1.$pristine }">
                    <input type="text" name="levelName1" id="levelName1" class="form-control" ng-model="setupCtrl.donation.level_name" placeholder="Name of Donation Level" ng-disabled="!checked1" required/>
                    <p ng-show="levelForm.levelName1.$error.required && levelForm.levelName1.$touched" class="help-block col-sm-offset-1" ng-cloak>Amount is required</p>
                </div>
            </div>

            <div style="padding-bottom: 20px">
                <div class="form-group">
                    <input type="checkbox" id="checkbox2" ng-model="checked2">
                </div>
                <div class="form-group" ng-class="{ 'has-error' : levelForm.amount2.$invalid && !levelForm.amount2.$pristine }">
                    <label class="col-sm-1">$:</label>
                    <input type="number" name="amount2" id="amount2" class="form-control" min="0" ng-model="setupCtrl.donation.amount" placeholder="Amount" ng-disabled="!checked2" required/>
                    <p ng-show="levelForm.amount2.$error.required && levelForm.amount2.$touched" class="help-block col-sm-offset-2" ng-cloak>Amount is required</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : levelForm.levelName2.$invalid && !levelForm.levelName2.$pristine }">
                    <input type="text" name="levelName2" id="levelName2" class="form-control" ng-model="setupCtrl.donation.level_name" placeholder="Name of Donation Level" ng-disabled="!checked2" required/>
                    <p ng-show="levelForm.levelName2.$error.required && levelForm.levelName2.$touched" class="help-block col-sm-offset-1" ng-cloak>Amount is required</p>
                </div>
            </div>

            <div style="padding-bottom: 20px">
                <div class="form-group">
                    <input type="checkbox" id="checkbox3" ng-model="checked3">
                </div>
                <div class="form-group" ng-class="{ 'has-error' : levelForm.amount3.$invalid && !levelForm.amount3.$pristine }">
                    <label class="col-sm-1">$:</label>
                    <input type="number" name="amount3" id="amount3" class="form-control" min="0" ng-model="setupCtrl.donation.amount" placeholder="Amount" ng-disabled="!checked3" required/>
                    <p ng-show="levelForm.amount3.$error.required && levelForm.amount3.$touched" class="help-block col-sm-offset-2" ng-cloak>Amount is required</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : levelForm.levelName3.$invalid && !levelForm.levelName3.$pristine }">
                    <input type="text" name="levelName3" id="levelName3" class="form-control" ng-model="setupCtrl.donation.level_name" placeholder="Name of Donation Level" ng-disabled="!checked3" required/>
                    <p ng-show="levelForm.levelName3.$error.required && levelForm.levelName3.$touched" class="help-block col-sm-offset-1" ng-cloak>Amount is required</p>
                </div>
            </div>

            <div style="padding-bottom: 20px">
                <div class="form-group">
                    <input type="checkbox" id="checkbox4" ng-model="checked4">
                </div>
                <div class="form-group" ng-class="{ 'has-error' : levelForm.amount4.$invalid && !levelForm.amount4.$pristine }">
                    <label class="col-sm-1">$:</label>
                    <input type="number" name="amount4" id="amount4" class="form-control" min="0" ng-model="setupCtrl.donation.amount" placeholder="Amount" ng-disabled="!checked4" required/>
                    <p ng-show="levelForm.amount4.$error.required && levelForm.amount4.$touched" class="help-block col-sm-offset-2" ng-cloak>Amount is required</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : levelForm.levelName4.$invalid && !levelForm.levelName4.$pristine }">
                    <input type="text" name="levelName4" id="levelName4" class="form-control" value="100" ng-model="setupCtrl.donation.level_name" placeholder="Name of Donation Level" ng-disabled="!checked4" required/>
                    <p ng-show="levelForm.levelName4.$error.required && levelForm.levelName4.$touched" class="help-block col-sm-offset-1" ng-cloak>Amount is required</p>
                </div>
            </div>

            <div style="padding-bottom: 20px">
                <div class="form-group">
                    <input type="checkbox" id="checkbo5" ng-model="checked5"> Other
                </div>
                <div class="form-group col-sm-offset-2">
                </div>
                <div class="form-group" ng-class="{ 'has-error' : levelForm.amount6.$invalid && !levelForm.amount6.$pristine }">
                    <label class="col-sm-1">$:</label>
                    <input type="number" name="amount6" id="amount6" class="form-control" min="5" ng-model="setupCtrl.donation.amount" placeholder="Amount" ng-disabled="!checked5" required/>
                    <p ng-show="levelForm.amount6.$error.required && levelForm.amount6.$touched" class="help-block col-sm-offset-2" ng-cloak>Amount is required</p>
                    <p ng-show="levelForm.amount6.$error.min && levelForm.amount6.$touched" class="help-block col-sm-offset-1" ng-cloak>$ 5 minimum</p>
                </div>
                <div class="form-group">
                    <p>Donor enters amount</p>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" ng-model="setupCtrl.donation.allow_custom_amounts">
    </label>
</div>
<div class="panel panel-default">
    <div class="panel-heading">I want to donate</div>
    <div class="panel-body">
        <form name="donateForm" ng-submit="donateForm()" class="form-inline" novalidate>
            <div style="padding-bottom: 20px">
                <div class="form-group col-sm-1">
                </div>
                <div class="form-group col-sm-offset-2">
                </div>
                <div class="form-group" ng-class="{ 'has-error' : donateForm.amount7.$invalid && !donateForm.amount7.$pristine }">
                    <label class="col-sm-1">$:</label>
                    <input type="number" name="amount7" id="amount7" class="form-control" min="5" ng-model="setupCtrl.donation.amount" placeholder="Amount" ng-disabled="!checked6" required/>
                    <p ng-show="donateForm.amount7.$error.required && donateForm.amount7.$touched" class="help-block col-sm-offset-2" ng-cloak>Amount is required</p>
                    <p ng-show="donateForm.amount7.$error.min && donateForm.amount7.$touched" class="help-block col-sm-offset-2" ng-cloak>$ 5 minimum</p>
                </div>
                <div class="form-group">
                    <p>Donor enters amount</p>
                </div>
            </div>
        </form>
    </div>
</div>